.header-logo{
  margin: 20px 0 20px 0;
  width: 160px;
}
.navbar .navbar-collapse {
  text-align: center;
}
nav.navbar a{
  display: inline-block;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 16px;
}
ul li:after{
  content: "|";
}
ul li:last-child:after{
  content: "";

}
