$primary-color: #0093FF;
$secondary-color: #00C4FF;
$text-color: #95989A;
$background-color: #fff;
$body-color: #E4DEDE;

html, body{
  font-size: 100%;
  background: $body-color;
}
.container-fluid{
  background-color: $background-color;
}
.masthead{
  background-color: $background-color
}

.container{
  .col-md-8{
    background-color: $background-color;
  }
  .hidden-md-down{
    padding-top: 0px;
    img{
      width: 100%;
    }
  }

}
.column-side{
  padding-right: 0px;
  padding-left: 8px;
}
.rcm-container{
  padding-top: 0.5px;
  padding-bottom: 10px;
  background-color: $background-color;
  img{
    width: inherit;
  }
}
.header-logo {
  margin-bottom: 20px;
  padding-top: 20px;
	width: 160px;
}
.navbar {
	.navbar-collapse {
    text-align: center;
    .navbar-nav{
      .nav-item{

      }
    }
	}
}
.navbar {
	a {
		display: inline-block;
		padding-left: 20px !important;
		padding-right: 20px !important;
    font-size: 16px;
    color: black;
    &:hover {
      color:red;
    }
    &:active {
      color:red;
    }
	}

}
.article_li_content {
	li {
		&:after {
      content: none;
		}
	}
}
.list_style_none{
  list-style: none;
}
.article_list_bullet{
  display: list-item;
}
.article_border_thin{
  border-bottom-style: solid;
  border-width: thin;
  border-color: gray;
  padding-bottom: 10px;
}

ul {
	li {
		&:after {
      content: "|";
      color: $secondary-color;
		}
		&:last-child {
			&:after {
				content: "";
			}
		}
	}
}
.body-main-title {
  font-size: 16px;
  color:black;
  margin-bottom: 20px;
  border-left: 2px solid $secondary-color;
  padding-left: 10px;
}
.column-warp{
  height: 130px;
  font-size: 11px;
}
.fa{
  padding-right: 5px;
}
footer {
  .footer-last {
    text-align: center;
    color: $text-color;
    padding-bottom: 10px;
  }
  background-color: $background-color;
}
.body-left{
  background-color: $background-color;
  padding-bottom: 10px;

}
.body-main-title {
  font-size: 16px;
  color:black;
  margin: 30px 0 20px 0;
  border-left: 2px solid $secondary-color;
  padding-left: 10px;
}
.column-warp{
  height: 130px;
  font-size: 11px;
}
.column-title{
  font-size: 16px;
  color:black;
}
.main-content-dim{
  margin-bottom: 20px;
  color: $text-color;
  font-size: 11px;
}
.release-day{
  font-size: 10px;
  color: #212121;
  .btn{
    border-radius: 6px;
    width: 50%;
    float: right;
    height: 19px;
    font-size: 10px;
    padding-bottom: 5px;
    background-color: $secondary-color;
    border: none;
  }
}
.body-tags{
  .btn{
    background-color: $secondary-color;
    margin: 0 2px 10px 0;

  }
  .fa{
    padding-right: 5px;
  }
}
.carousel-item{
  .img-fluid{
    width: 100%;
  }
  padding-right: 0;
  padding-left: 0;
}
.carousel-caption {
  background-color: #9AC5F7;
  top: auto;
  bottom: 0;
  height: 100px;
  left: 15px;
  right:15px;
  .btn{
    border-radius: 6px;
    width: 40%;
    float: right;
    height: 19px;
    font-size: 10px;
    padding-bottom: 5px;
    background-color: $background-color;
    color: $secondary-color;
    border: none;
    margin-right: 10px;
  }
  span{
    padding-left: 6px;
  }
}
.caption_opacity{
  right: 0;
  left: 0;
  opacity: 0.7;
}
.mobile-recomendation{
  img{
    position: relative;
    z-index: 0;
    width: 100%;
  }
  .figure-caption{
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: $secondary-color;
    opacity: .65;
    margin-right: 15px;
    padding-bottom: 8px;
    color:white;
    font-weight: bold;
  }
  p{
    color: white;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .btn{
    background-color: white;
    color: $primary-color;
    float: right;
    height: 19px;
    border-radius: 6px;
  }
}
.table-bordered{
  border: .1rem black solid;
  td{
    border: .1rem black solid;
  }
}
.body-left{
  display: table;
  .body-main {
    display: table-header-group;
  }
  .body-main {
    display: table-row-group;
  }
  .body-tags {
    display: table-footer-group;
  }
}
.main-heading{
  padding: 16px 0 16px 0;
  font-size: 0.7rem;
}
.article-navigation{
  padding-top: 20px;
  span{
    font-size: 0.8rem;
    color: gray;
  }
  .btn{
    border-radius: 6px;
    width: 70px;
    float: right;
    height: 16px;
    font-size: 10px;
    padding-bottom: 5px;
    background-color: #00C4FF;
    border: none;
    margin-top: 5px;
    margin-left: 7px;
  }
  .article-heading{
    padding-top: 16px;
  }
}
.card_border_blue{
  border-color: $primary-color;
}
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner {
    .active {
      display: block;
      + .carousel-item {
        display: block;
        + .carousel-item {
          display: block;
        }
      }
    }
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) {
      transition: none;
      + .carousel-item {
        transition: none;
        + .carousel-item {
          transition: none;
        }
      }
    }
    .carousel-item-next, .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .carousel-item-next.carousel-item-left + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
      + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
      }
    }
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
  .carousel-item-prev.carousel-item-right + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
    + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
      + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
      }
    }
  }
}
.carousel-control-button{
  width: 4%;
  .fa-control{
    color: $background-color;
  }
}
@media (max-width: 765px) {
  .navbar-nav{
    display: inline;
    display: -webkit-inline;
    .nav-item{
      display: inline;
      color: green;
      .nav-link{
        padding: 0 10px 0 10px !important;
      }
    }
  }
  .left_photo_half{
    width: 50%;
  }
  .body-main-title {
    color: gray;
  }
  .column-side{
    padding-left: 0;
  }
  .body-left{
    p{
      display: none;
    }
    .body-sub{
      .column-title{
        padding-top: 1rem;
      }

      .btn{
        float: left;
      }
    }
    .body-main{
      .release-day{
        padding: 0;
      }
      .btn{
        float: right;
        width: 50%;
      }
      span{
        float: left;
        padding-left: 0;

      }

    }
  }
  .container {
    background-color: $body-color;
  }
  .body-img {
    width: 100%;
  }
	.body-right {
		order: 1;
    -webkit-order: 1;
	}
  .body-left {
		order: 2;
    -webkit-order: 2;
	}
	.right-image {
		width: 130px;
	}
  .flex-tags{
    display: flex;
    flex-flow: row wrap;
    .btn{
      flex: 1 auto;
    }
  }
}
.carousel-inner{
  background-color: $background-color;
}
